* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 15px;
}
body {
  font-family: "Orbitron", sans-serif;
  background-color: black;
}
/* Header  */
.buttonscontainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: space-evenly;
  /* border: 1px solid yellow; */
}
.accolades,
.buynow {
  font-family: "Orbitron", sans-serif;
  padding: 20px 25px;
  border: 0;
  background-color: rgba(149, 0, 0, 0.8);
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}
.accolades:hover,
.buynow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(149, 0, 0);
}
.container_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(149, 0, 0, 0.8);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  position: sticky;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 2;
}
.container_hero {
  display: grid;
  place-content: center;
  /* border: 5px solid yellow; */
  height: 100%;
  background-image: url("assets/images/header/herosection_bg.jpg");
  background-size: cover;
  background-position: center 0px;
  background-attachment: fixed;
}
.playicon {
  margin-right: 5px;
}
.header_container {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  /* border: 10px solid red; */
  height: 100vh;
}
.hero_img {
  width: 100%;
  max-width: 400px;
  /* border: 2px solid magenta; */
}
.hamburgermenu .nav_navlinks {
  display: none;
}
.logo_img {
  margin-left: 50px;
  /* border: 1px solid magenta; */
  width: 200px;
}
.nav_navlinks {
  display: flex;
  /* border: 1px solid yellow; */
}
.navlinks_navitems {
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  transition: all 500ms ease-in-out;
}
.navlinks_navitems:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(149, 0, 0);
}
.trailervid {
  z-index: 3;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 80vw;
  display: none;
}
.close {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  font-family: "Orbitron", sans-serif;
  padding: 10px 25px;
  border: 0;
  background-color: rgba(149, 0, 0, 0.8);
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
  display: none;
}
.close:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(149, 0, 0);
}
.empty {
  height: 92vh;
}
.empty2 {
  height: 100vh;
  background-color: grey;
}
@media (max-width: 1024px) {
  .logo_img {
    margin-left: 0px;
  }
  .container_nav {
    padding: 20px;
  }
  .hamburgermenu {
    position: absolute;
    top: 20px;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid white; */
    width: 150px;
  }
  .boxes {
    height: 4px;
    width: 50px;
    margin: 4px 0px;
    background-color: white;
  }
  .hamburgermenu .nav_navlinks {
    flex-direction: column;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid white; */
    display: none;
  }
  .hamburgermenu:hover .nav_navlinks {
    display: flex;
  }
  .container_nav > .nav_navlinks {
    display: none;
  }
}
@media (max-width: 475px) {
  .logo_img {
    display: none;
  }
  .container_nav {
    padding: 10px;
    flex-direction: column;
  }
  .container_hero {
    background-size: cover;
    background-position: center 0px;
    background-attachment: fixed;
  }
  .hero_img {
    max-width: 300px;
    margin: 0px auto;
  }
  .hamburgermenu {
    position: relative;
    top: 0;
  }
  .close {
    top: 230px;
  }
  .trailervid {
    height: 60vh;
  }
}
/* Header End*/
/* section gameplay */
.container {
  background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("assets/images/header/volcanictexture.jpg");
  background-attachment: fixed;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 750px));
  justify-content: center;
}
.boxes1 {
  color: white;
  height: max(300px, 60vw);
  padding: 20px;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
}
.picbox1 {
  background-image: url("assets/images/header/pic1.jpg");
}
.picbox2 {
  background-image: url("assets/images/header/pic3.jpg");
}
.picbox3 {
  background-image: url("assets/images/header/pic2.jpg");
}
.imagebox {
  background-size: cover;
  background-position: center;
}
.imagebox:nth-of-type(4) {
  grid-row: 3 / span 1;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.description {
  line-height: 1.5;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.title {
  color: red;
  font-weight: 900;
  font-size: 1.2em;
}
.learnmore {
  padding: 10px 25px;
  margin-top: 5px;
  font-size: 0.6em;
  border: 0;
  letter-spacing: 2px;
  transition: all 250ms linear;
  font-family: "Orbitron", sans-serif;
  background-color: rgba(149, 0, 0, 0.8);
  color: white;
}
.learnmore:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(149, 0, 0);
  /* color: white; */
  /* background-color: red; */
}
@media (min-width: 530px) {
  .boxes1 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .boxes1 {
    font-size: 25px;
  }
  .description {
    line-height: 2;
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxes1 {
    height: 600px;
  }
}

/* section gameplay end */
.services {
  font-size: max(40px, 4vw);
  font-family: "Orbitron", sans-serif;
  /* font-family: sans-serif; */
  text-align: center;
  color: white;
  padding: 20px;
}
.services::after {
  content: " ";
  height: 5px;
  width: 120px;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  background-color: red;
}
.container2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 600px));
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  /* font-family: sans-serif; */
}
.boxes2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: white;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 250ms ease-in-out;
}

.boxes2:hover {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* color: rgb(149, 0, 0); */
}
.title2 {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
.boxes2 > * {
  width: 100%;
}
.description2 {
  padding: 20px;
  line-height: 1.5;
}
.grid_img {
  width: 100%;
  height: 50vw;
  max-height: 300px;
}
.ourservices {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(83, 0, 0, 0.5)),
    url("assets/images/header/weoponsbg.jpg");
  background-size: cover;
  background-position: center;
  /* background-color: black; */
}
@media (min-width: 768px) {
  .grid_img {
    width: 100%;
    height: 200px;
    max-height: 400px;
  }
  .services {
    font-size: 60px;
  }
  .container2 {
    grid-template-columns: repeat(auto-fill, 43vw);
  }
}
@media (min-width: 1024px) {
  .grid_img {
    width: 100%;
    height: 16vw;
    max-height: 300px;
  }
  .container2 {
    grid-template-columns: repeat(auto-fill, 27vw);
  }
}
@media (min-width: 2143px) {
  .boxes2 {
    height: 600px;
  }
  .container2 {
    font-size: 25px;
  }
}
/* Footer */
.wrapper {
  background-color: rgba(85, 0, 0, 0.5);
}
.container3 {
  width: 100%;
  font-family: "Orbitron", sans-serif;
  /* letter-spacing: 2px; */
  font-size: 16px;
  /* background-color: black; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 100%;
  padding: 2.5%;
}
.container3 > * {
  color: white;
  /* width: 100%; */
}

.container_aboutus,
.container_quicklinks {
  width: 50%;
}
.container_member_padding {
  padding: 15px 10px;
  /* border: 1px solid #7f01fd; */
}
.container_contact--semibold {
  color: red;
  /* color: #7f01fd; */
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
}
.container_socialmedia {
  width: 100%;
}
.contact_title {
  font-family: "Orbitron", sans-serif;
  color: red;
  /* color: #7f01fd; */
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
}
.contact_icon {
  margin-right: 20px;
}
.component--flex {
  align-items: center;
  display: flex;
  /* line-height: 2.2; */
}
.title_marginbottom {
  margin-bottom: 15px;
}
.member--lineheight {
  /* border: 1px solid #7f01fd; */
  line-height: 1.3;
  margin-bottom: 15px;
}
.socialmedia_email {
  margin: 10px 0px;
  padding: 6px 12px;
  width: 80%;
}
.socialmedia_email::placeholder {
  font-size: 1.2em;
  position: relative;
  top: 2px;
}
.emailform {
  display: flex;
  align-items: center;
}
.paperplane--purple {
  background-color: red;
  /* background-color: #7f01fd; */
  padding: 9px 20px;
  position: relative;
  right: 1px;
  color: white;
}
.socialmedia_icons * {
  margin-right: 11px;
}
@media (min-width: 768px) {
  .container_contact,
  .container_aboutus {
    /* border: 1px solid #7f01fd; */
    width: 50%;
  }
  .container_quicklinks,
  .container_socialmedia {
    /* border: 1px solid #7f01fd; */
    width: 50%;
  }
}
@media (min-width: 454px) {
  .container_contact {
    /* border: 1px solid #7f01fd; */
    width: 100%;
  }
  .container_aboutus,
  .container_quicklinks {
    /* border: 1px solid #7f01fd; */
    width: 50%;
  }
  .container_socialmedia {
    /* border: 1px solid #7f01fd; */
    width: 100%;
  }
}
@media (min-width: 575px) {
  /* body {
    background-color: black;
  } */
  .container3 {
    margin: 0px auto;
    width: 575px;
  }
}
@media (min-width: 768px) {
  .container3 {
    width: 768px;
  }
  .container_contact,
  .container_aboutus {
    width: 50%;
  }
  .container_quicklinks,
  .container_socialmedia {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container3 {
    width: 100%;
  }
  .container_contact,
  .container_aboutus,
  .container_quicklinks,
  .container_socialmedia {
    flex: 1;
  }
}
